body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
    
}

.fc {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    padding: 0px;
    height: 99vh;
    width: 100vw;
}

/*header formatting*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: linear-gradient(lightblue, lightgreen);
    width: 100vw;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.15em;
    border-bottom: 2px solid darkslategray;
    position: fixed;
    z-index: 999;
    height: 10vh;
}

#header-name h1 {
    margin: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px ghostwhite;
    height: 100%;
    flex: 0 1 auto;
    order: 1;
}


#header-links {
    margin: auto 10px;
    height: 100%;
    flex: 0 1 auto;
    order: 2;   
}


#header-links li {
    display: inline-block;
    list-style-type: none;
    list-style-position: inside;
    height: 100%;
    margin: auto;
}

#header-links li a {
    display: inline-block;
    padding: 8px 15px;
}

#header-links a:visited {
    color: black;
}


#header-links a:hover {
    color: darkslateblue;
}

/*main section*/

main {
    margin-top: 10vh;
    width: 100vw;
    top: 1em;
}

.description {
    padding: 15px;
    border-bottom: 1px solid black;
    background-color: ghostwhite;
    order: 3;
}

.projects {
    padding: 2rem;
    min-height: 50vh;
    background-color: gainsboro;
    overflow: auto;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0.5em 0.5em;
}

th {
    font-family: 'Bangers', cursive;
    letter-spacing: 0.15em;
    text-shadow: 1px 1px lightslategray;
    background-color: black;
    border-color: gray;
    color: ghostwhite;
}

td {
    background-color: ghostwhite;
}

/*footer formatting*/


footer {
    display: flex;
    flex-flow: row wrap;

    width: 100vw;
    border-top: 2px solid black;
    padding: 0.75em;
    background: linear-gradient( lightgreen, lightblue);
    
    position: fixed;
    bottom: 0;
}

#footer-text {
    margin: auto;
}