body, html {
    background-color: indigo;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.fc {
    display: flex;
    flex-flow: row wrap;
    background-color: cornsilk;

}

main {
    background-color: black;
    color: white;
    margin: 2vh auto;
    width: 40vw;
}

header {
    font-family: 'Roboto Slab', serif;
}

.title-five {
    font-size: 8em;
    position: relative;
    float: left;
    padding: 0px 12px 0px 5px;
    margin: -30px 0px -30px 5px;
}

.title-text {
    padding: 2px 8px;
}
header h1 {
    font-weight: lighter;
    font-size: 2em;
}
header h2 {
    font-size: 1em;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

section {
    display: flex;
    margin: .5em;

    
}
.number {
    display: block;
    font-size: 3.5em;
    padding: 5px;
    border-radius: 0px 50px 50px 0px;
    background-color: black;
    position:relative;
    float: left;
    flex: 0 1 auto;
    z-index: 999;
}

.text {
    line-height: 150%;
    display: block;
    width: 40vw;
    background-color: blue;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 0px 0px -50px;
    padding: .7em 2em .7em 3.5em;
    border-radius: 0px 10px 10px 0px;
    flex: 1 3 auto;
    z-index: 2;
}

.one .text {
    background-color: aquamarine;
    padding: 1.4em 2em .7em 3.5em;
}

.two .text {
    background-color: cornflowerblue;
}

.three .text {
    background-color: indianred;
}

.four .text {
    background-color: goldenrod;
}

.five .text {
    background-color: seagreen;
}

.text:hover {
    background-color: maroon;
    color: oldlace;
}

#footer-text {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
    padding: .7em;
    margin: auto;
    flex: 0 1 auto;
}


#footer-text a, #footer-text a:visited {
    text-decoration: none;
    color: white;
}

#footer-text a:hover {
    color: mediumpurple;
}